@charset "UTF-8";

@font-face {
  font-family: "GrilledCheese BTN Toasted";
  src: url("GrilledCheese BTN Toasted.woff2") format("woff2"),
       url("GrilledCheese BTN Toasted.woff") format("woff"),
       url("GrilledCheese BTN Toasted.ttf") format("truetype"),
       url("GrilledCheese BTN Toasted.eot") format("embedded-opentype"),
       url("GrilledCheese BTN Toasted.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}