/* Variables */
// 测试
$text-color: #2b2b2b !default;
$width-normal: 1200px !default;

$link-color: #2e79cd !default;

// 背景颜色
$background-color: #2e79cd !default;
$background-light-color: #f1ffff !default;
// 边框颜色
$border-color: #fafafa !default;
// 字体文件目录
$font-path: '../fonts' !default;
// 样式图片目录
$images-path: '../images' !default;
// 表格边框颜色
$table-border-color: #fafafa !default;
// 按钮背景色
$button-bg-color: #2e79cd !default;

// media query options
$lg-screen: 1200px;
$md-screen: 970px;
$sm-screen: 750px;