<div class="container clearfix">
  <div class="lm-header-logo">
    <span>HOME</span>
  </div>
  <div class="lm-header-collapse">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="lm-header-menu">
    <ul class="clearfix">
      <li><a href="#">Article</a></li>
      <li><a href="#">Resume</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Works</a></li>
    </ul>
  </div>
</div>